.d-grid {
    display: grid;
    grid-template-columns: [start-column] 1fr 2fr  1fr [end-column];
}

.d-grid div:nth-child(1) {
    grid-column-start: start-column;
    grid-column-end: end-column;
}
