.container {
    background-color: lightgray;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
}

.article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}