* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: darkcyan;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Grid*/
.d-grid {
    display: grid;
    width: 50%;
    grid-template-columns: 50px auto 50px auto;
}

.block {
    background-color: #fff;
    border: 1px solid black;
    color: darkcyan;
}

/* Flex*/
.d-flex {
    display: flex;
    width: 50%;
}

.d-flex > div {
    width: 100%;
}

.d-flex > div:nth-child(odd) {
    min-width: 50px;
    max-width: 50px;
}


